.btn {
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  @each $key, $value in $theme-colors {
    &-#{$key} {
      @include btn-color($value);
    }
  }
  @each $key, $value in $theme-colors {
    &-outline-#{$key} {
      @include btn-outline-color($value);
    }
  }
}

.rounded-pill {
  border-radius: 25px;
}
